.select_field {
  border: 0.5px solid #c4c4c4;
  border-radius: 2px;
  width: 190px;
  max-width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: #8f8b8b;
}

.select_field > select {
  outline: none;
  border: none;
  width: 100%;
  background: white;
}

@media screen and (max-width: 767px) {
}
